@using PL.Web.API
@{ 
    Layout = "~/Pages/_basicLayout.cshtml"; 
}

<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center mainGroups">
        <h3>All users</h3>
        <div class="col-12" id="usersList">
            <div id="users">
                @RenderPage("~/Pages/listOfUsers.cshtml")
            </div>
            <div>
                @RenderPage("~/Pages/_addBtn.cshtml")
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col-8 text-center mainGroups">
        <h3>All awards</h3>
        <div class="col-12" id="awardsList">
            <div id="awards">
                @RenderPage("~/Pages/listOfAwards.cshtml")
            </div>
            <div>
                @RenderPage("~/Pages/_addBtn.cshtml")
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

@RenderPage("~/Pages/_toast.cshtml")
@RenderPage("~/Pages/_editWindow.cshtml")
@RenderPage("~/Pages/_confirmWindow.cshtml")
@RenderPage("~/Pages/_addWindow.cshtml")
